table tr td{
	height: 20px;
	width: 20px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 3px;
}
table{
	background-color: #f2f2f2;
}
body{
	padding: 15px;
	 background:-webkit-linear-gradient(left, #3931af, #00c6ff); 
}
/*table{
	background-color: #f2f2f2;
}*/


#boutBleu{
	background-color: #66b3ff;
}
#boutOrange{
	background-color: #ff9933;
}
#boutVert{
background-color: #66ff33;
}
button{
	height: 30px;
	width: 40px;
	border: none;
}
#game table{ 
	margin: 0 auto;
	/*background-color:#f2f2f2; */

}

.soitInvisible{
	 visibility:collapse;
}
#commandeDeJeux{
	width:70%;
	padding-left:20%;
}
.commande_control,
.control_color,
.pain_color{
	display: inline-block;
}
.commande_control button{
margin: 1px;
}
*{
	padding: 0px;
}
.pain_color button{
	margin-bottom: 1px;
}
.pain_color{
	position: relative;
	bottom: 10px;
}
.br{
	display: none;
}

@media only screen and (max-width: 768px) {

	#commandeDeJeux{
	width:100%;
	padding-left:0%;
}
.commande_control,
.control_color,
.pain_color{
	display: inline-block;
}
.commande_control button{
margin: 2px;
}
*{
	padding: 0px;
}
.pain_color button{
	margin-bottom: 6px;
}
.pain_color{
	position: relative;
	bottom: 10px;
}
.commande_control br,
.control_color br,
.pain_color br{
	display: none;
}
.br{display: block;
height: 5px;}
}